In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

C:\Users\druda\anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.0
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
data =  pd.read_csv("covid_data.csv")
data.head(100)

,location,date,new_cases,new_deaths,population,aged_65_older_percent,gdp_per_capita,hospital_beds_per_thousand
0,Afghanistan,2019-12-31,0,0,38928341.0,2.581,1803.987,0.5
1,Afghanistan,2020-01-01,0,0,38928341.0,2.581,1803.987,0.5
2,Afghanistan,2020-01-02,0,0,38928341.0,2.581,1803.987,0.5
3,Afghanistan,2020-01-03,0,0,38928341.0,2.581,1803.987,0.5
4,Afghanistan,2020-01-04,0,0,38928341.0,2.581,1803.987,0.5
...,...,...,...,...,...,...,...,...
95,Afghanistan,2020-04-14,58,3,38928341.0,2.581,1803.987,0.5
96,Afghanistan,2020-04-15,49,2,38928341.0,2.581,1803.987,0.5
97,Afghanistan,2020-04-16,70,2,38928341.0,2.581,1803.987,0.5
98,Afghanistan,2020-04-17,10,4,38928341.0,2.581,1803.987,0.5
99,Afghanistan,2020-04-18,51,1,38928341.0,2.581,1803.987,0.5

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23082 entries, 0 to 23081
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   location                    23082 non-null  object
 1   date                        23082 non-null  object
 2   new_cases                   23082 non-null  int64
 3   new_deaths                  23082 non-null  int64
 4   population                  23018 non-null  float64
 5   aged_65_older_percent       20643 non-null  float64
 6   gdp_per_capita              20711 non-null  float64
 7   hospital_beds_per_thousand  19144 non-null  float64
dtypes: float64(4), int64(2), object(2)
memory usage: 1.4+ MB

In [4]:
data = data[data['location']!="International"]

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23018 entries, 0 to 23017
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   location                    23018 non-null  object
 1   date                        23018 non-null  object
 2   new_cases                   23018 non-null  int64
 3   new_deaths                  23018 non-null  int64
 4   population                  23018 non-null  float64
 5   aged_65_older_percent       20643 non-null  float64
 6   gdp_per_capita              20711 non-null  float64
 7   hospital_beds_per_thousand  19144 non-null  float64
dtypes: float64(4), int64(2), object(2)
memory usage: 1.6+ MB

In [6]:
to_edit = data[['location', 'population', 'aged_65_older_percent', 'gdp_per_capita', 'hospital_beds_per_thousand']]
to_edit = to_edit.drop_duplicates()
to_edit

,location,population,aged_65_older_percent,gdp_per_capita,hospital_beds_per_thousand
0,Afghanistan,3.892834e+07,2.581,1803.987,0.500
153,Albania,2.877800e+06,13.188,11803.431,2.890
247,Algeria,4.385104e+07,6.211,13913.839,1.900
405,Andorra,7.726500e+04,NaN,NaN,NaN
494,Angola,3.286627e+07,2.405,5819.495,NaN
...,...,...,...,...,...
22581,Western Sahara,5.973300e+05,NaN,NaN,NaN
22627,Yemen,2.982597e+07,2.922,1479.147,0.700
22689,Zambia,1.838396e+07,2.480,3689.251,2.000
22773,Zimbabwe,1.486293e+07,2.822,1899.775,1.700
22855,World,7.794799e+09,8.696,15469.207,2.705

In [7]:
x = data['location'].unique()
len(x)

211

In [8]:
to_edit.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 211 entries, 0 to 22855
Data columns (total 5 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   location                    211 non-null    object
 1   population                  211 non-null    float64
 2   aged_65_older_percent       184 non-null    float64
 3   gdp_per_capita              184 non-null    float64
 4   hospital_beds_per_thousand  165 non-null    float64
dtypes: float64(4), object(1)
memory usage: 9.9+ KB

In [9]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor

# Assuming you have a DataFrame named 'df' with columns: 'feature1', 'feature2', 'target'

# Split the DataFrame into two sets: one with missing values and one without missing values
df_missing = to_edit[to_edit['hospital_beds_per_thousand'].isnull()]
df_not_missing = to_edit[~to_edit['hospital_beds_per_thousand'].isnull()]

# Separate the features and target variables
X_train = df_not_missing[['population']]
y_train = df_not_missing['hospital_beds_per_thousand']

# Create a Random Forest regressor
rf_model = RandomForestRegressor()

# Fit the model on the non-missing data
rf_model.fit(X_train, y_train)

# Predict the missing values using the trained model
X_test = df_missing[['population']]
predicted_values = rf_model.predict(X_test)

# Fill the missing values in the 'target' column with the predicted values
to_edit.loc[to_edit['hospital_beds_per_thousand'].isnull(), 'hospital_beds_per_thousand'] = predicted_values

# Print the updated DataFrame with the filled missing values
to_edit.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 211 entries, 0 to 22855
Data columns (total 5 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   location                    211 non-null    object
 1   population                  211 non-null    float64
 2   aged_65_older_percent       184 non-null    float64
 3   gdp_per_capita              184 non-null    float64
 4   hospital_beds_per_thousand  211 non-null    float64
dtypes: float64(4), object(1)
memory usage: 9.9+ KB

In [10]:
from sklearn.tree import DecisionTreeRegressor

# Assuming you have a DataFrame named 'df' with columns: 'gdp_per_capita', 'feature1', 'feature2', ...

# Split the data into training and test sets
training_data = to_edit[to_edit['gdp_per_capita'].notnull()]
test_data = to_edit[to_edit['gdp_per_capita'].isnull()]

# Select the features and target variable for training
features = ['population', 'hospital_beds_per_thousand']
target = 'gdp_per_capita'

X_train = training_data[features]
y_train = training_data[target]

# Train the decision tree model
model = DecisionTreeRegressor()
model.fit(X_train, y_train)

# Use the trained model to predict the missing values
X_test = test_data[features]
predicted_values = model.predict(X_test)

# Assign the predicted values to the missing values in the original DataFrame
to_edit.loc[to_edit['gdp_per_capita'].isnull(), 'gdp_per_capita'] = predicted_values

# Print the DataFrame with the missing values filled
to_edit.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 211 entries, 0 to 22855
Data columns (total 5 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   location                    211 non-null    object
 1   population                  211 non-null    float64
 2   aged_65_older_percent       184 non-null    float64
 3   gdp_per_capita              211 non-null    float64
 4   hospital_beds_per_thousand  211 non-null    float64
dtypes: float64(4), object(1)
memory usage: 9.9+ KB

In [11]:
from sklearn.mixture import GaussianMixture

# Using Gaussian Misture Model
training_data = to_edit[to_edit['aged_65_older_percent'].notnull()]
test_data = to_edit[to_edit['aged_65_older_percent'].isnull()]

# Select the features and target variables
features = ['population', 'hospital_beds_per_thousand', 'gdp_per_capita']

# Prepare the training set by extracting the features
X_train = training_data[features]

# Train the GMM on the training set
gmm = GaussianMixture(n_components=3)  # You can adjust the number of components as needed
gmm.fit(X_train)

# Predict the missing values using the trained GMM
X_test = test_data[features]
predicted_values = gmm.predict(X_test)

# Assign the predicted values to the missing values
to_edit.loc[to_edit['aged_65_older_percent'].isnull(), 'aged_65_older_percent'] = predicted_values

# Check the dataset
to_edit.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 211 entries, 0 to 22855
Data columns (total 5 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   location                    211 non-null    object
 1   population                  211 non-null    float64
 2   aged_65_older_percent       211 non-null    float64
 3   gdp_per_capita              211 non-null    float64
 4   hospital_beds_per_thousand  211 non-null    float64
dtypes: float64(4), object(1)
memory usage: 9.9+ KB

In [12]:
# Iterate over each row in the null_rows table
for index, row in data.iterrows():
    # Get the location value
    location = row['location']
    
    # Find the corresponding row in the to_edit table for the location
    edit_row = to_edit[to_edit['location'] == location]
    
    # Get the gdp_per_capita value from the to_edit table
    gdp_value = edit_row['gdp_per_capita'].values[0] if not edit_row.empty else None
    
    # Update the gdp_per_capita value in the null_rows table
    data.loc[data['location'] == location, 'gdp_per_capita'] = gdp_value

In [13]:
# Iterate over each row in the null_rows table
for index, row in data.iterrows():
    # Get the location value
    location = row['location']
    
    # Find the corresponding row in the to_edit table for the location
    edit_row = to_edit[to_edit['location'] == location]
    
    # Get the gdp_per_capita value from the to_edit table
    gdp_value = edit_row['aged_65_older_percent'].values[0] if not edit_row.empty else None
    
    # Update the gdp_per_capita value in the null_rows table
    data.loc[data['location'] == location, 'aged_65_older_percent'] = gdp_value

In [14]:
# Iterate over each row in the null_rows table
for index, row in data.iterrows():
    # Get the location value
    location = row['location']
    
    # Find the corresponding row in the to_edit table for the location
    edit_row = to_edit[to_edit['location'] == location]
    
    # Get the gdp_per_capita value from the to_edit table
    gdp_value = edit_row['hospital_beds_per_thousand'].values[0] if not edit_row.empty else None
    
    # Update the gdp_per_capita value in the null_rows table
    data.loc[data['location'] == location, 'hospital_beds_per_thousand'] = gdp_value

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23018 entries, 0 to 23017
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   location                    23018 non-null  object
 1   date                        23018 non-null  object
 2   new_cases                   23018 non-null  int64
 3   new_deaths                  23018 non-null  int64
 4   population                  23018 non-null  float64
 5   aged_65_older_percent       23018 non-null  float64
 6   gdp_per_capita              23018 non-null  float64
 7   hospital_beds_per_thousand  23018 non-null  float64
dtypes: float64(4), int64(2), object(2)
memory usage: 1.6+ MB

In [16]:
# Filter the dataset for Germany and Italy
germany_italy_data = data[data['location'].isin(['Germany', 'Italy'])]

# Group the filtered dataset by date and calculate cumulative sum of new cases
germany_italy_cumulative_cases = germany_italy_data.groupby('date')['new_cases'].cumsum()

# Find the date when the cumulative cases exceeded 10,000
date_exceed_10000 = germany_italy_cumulative_cases[germany_italy_cumulative_cases > 10000].idxmin()

# Rows are 0-indexed, so 10769 - 1 = 10768
print(data.iloc[10770])

location                           Italy
date                          2020-03-22
new_cases                           6557
new_deaths                           795
population                    60461828.0
aged_65_older_percent             23.021
gdp_per_capita                 35220.084
hospital_beds_per_thousand          3.18
Name: 10770, dtype: object

In [17]:
# Return the country with third highest mean death rate
data['death_rate'] = (data['new_deaths']/data['population'])*1000000

sorted_death_rate = data.sort_values('death_rate', ascending=False)

mean_deaths = sorted_death_rate.groupby("location")['death_rate'].mean().sort_values(ascending=False)

mean_deaths

location
San Marino                          7.639203
Andorra                             7.416472
Belgium                             5.091823
Sint Maarten (Dutch part)           4.542820
United Kingdom                      3.694664
                                      ...
Cambodia                            0.000000
Saint Kitts and Nevis               0.000000
Saint Lucia                         0.000000
Lesotho                             0.000000
Saint Vincent and the Grenadines    0.000000
Name: death_rate, Length: 211, dtype: float64

In [18]:
data['gdp'] = data['gdp_per_capita'] * data['population']
india_data = data[data['location'].isin(['India', 'Pakistan'])]
india_data

,location,date,new_cases,new_deaths,population,aged_65_older_percent,gdp_per_capita,hospital_beds_per_thousand,death_rate,gdp
9639,India,2019-12-31,0,0,1.380004e+09,5.989,6426.674,0.53,0.000000,8.868838e+12
9640,India,2020-01-01,0,0,1.380004e+09,5.989,6426.674,0.53,0.000000,8.868838e+12
9641,India,2020-01-02,0,0,1.380004e+09,5.989,6426.674,0.53,0.000000,8.868838e+12
9642,India,2020-01-03,0,0,1.380004e+09,5.989,6426.674,0.53,0.000000,8.868838e+12
9643,India,2020-01-04,0,0,1.380004e+09,5.989,6426.674,0.53,0.000000,8.868838e+12
...,...,...,...,...,...,...,...,...,...,...
16107,Pakistan,2020-06-06,4734,97,2.208923e+08,4.495,5034.708,0.60,0.439128,1.112128e+12
16108,Pakistan,2020-06-07,4960,67,2.208923e+08,4.495,5034.708,0.60,0.303315,1.112128e+12
16109,Pakistan,2020-06-08,4728,65,2.208923e+08,4.495,5034.708,0.60,0.294261,1.112128e+12
16110,Pakistan,2020-06-09,4646,105,2.208923e+08,4.495,5034.708,0.60,0.475345,1.112128e+12
16111,Pakistan,2020-06-10,5385,83,2.208923e+08,4.495,5034.708,0.60,0.375749,1.112128e+12